<!doctype html>
<html>
    <head>    
        
        <title>{{ if .Title }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="google" content="notranslate" />
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,700i" rel="stylesheet">
        <link rel="stylesheet" href="{{ (resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "assets/css/main.css" . | resources.ToCSS (dict "indentWidth" 4 "outputStyle" "nested" "precision" 10)).Permalink }}">
        
    </head>
    <body>
        
        <div id="page" class="site palette-{{ .Site.Params.palette }}">
          {{ partial "header.html" . }}
          <main id="content" class="site-content">
            {{ block "content" . }}{{ end }}
          </main><!-- .site-content -->
          {{ partial "footer.html" . }}
        </div><!-- .site -->
        <!-- Scripts -->
        <script src="{{ "assets/js/plugins.js" | relURL }}"></script>
        <script src="{{ "assets/js/init.js" | relURL }}"></script>
        <script src="{{ "assets/js/main.js" | relURL }}"></script>
        <script type="text/javascript">
        (function(w,d){
          w.HelpCrunch=function(){w.HelpCrunch.q.push(arguments)};w.HelpCrunch.q=[];
          function r(){var s=document.createElement('script');s.async=1;s.type='text/javascript';s.src='https://widget.helpcrunch.com/';(d.body||d.head).appendChild(s);}
          if(w.attachEvent){w.attachEvent('onload',r)}else{w.addEventListener('load',r,false)}
        })(window, document)
        </script>

        <script type="text/javascript">
          HelpCrunch('init', 'stackbit', {
            applicationId: 1,
            applicationSecret: 'ZvcS6mmWHpXVGfdW8yT8G48Mzl3j+M5O7kXNRqOJPx4cHv5pRYccCl65d90PSvGnvdeQfz7Q2FeJF9mpGWy2IQ=='
          });

          HelpCrunch('showChatWidget');
        </script>
    </body> 
</html>
